body{
    font-family: monospace;
}

ul{
    font-family: helvetica;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

:root{
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

.light-theme{
    --bg:var(--white);
    --fontColor:var(--black);
    --btnFontColor:var(--white);
    --btnBg:var(--black);
    --btn2FontColor:var(--black);
    --btn2Bg:var(--white);
}

.dark-theme{
    --bg: var(--black);
    --fontColor:var(--green);
    --btnFontColor:var(--black);
    --btnBg:var(--white);
    --btn2FontColor:var(--black);
    --btn2Bg:var(--white);
}

*{
    color:var(--fontColor);
    font-family: helvetica;
}

body{
    background: var(--bg);
}

.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus{outline-style: none;}

.btn2{
    color: var(--btn2FontColor);
    background-color: var(--btn2Bg);
}

.btn2{
    position: absolute;
    top: 20px;
    left: 350px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btn2FontColor);
    background-color: var(--btn2Bg);
}

.btn2:focus{outline-style:none;}